* {
    margin: 0;
    padding: 0;
}

/* :root {
    
} */

html {
    background-image: url(../img/yasuo.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-color: black;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 350px;
    border-radius: 15px;
    transition: 1s;
    
    background-color: #ffffff5d;
    filter: brightness(0.5) saturate(0);
}

#container:hover {
    filter: brightness(1) saturate(1);
    background-color: #ffffffb0;
    width: 600px;
    height: 400px;
    border-radius: 10px;
}

#container:hover #forms-submit {
    margin-top: 8%;
    /* transition: 1s; */
}

#container #forms-submit {
    transition: 1s;
}

#container input {
    border-width: 0;
    padding-left: 5px;
}

table {
    text-align: center;
}

#riot-logo-area {
    text-align: center;
    margin: auto;
    margin: 20px 0 20px 0;
}

#riot-logo {
    width: 40%;
}

#forms-submit {
    margin-top: 30px;
}

#register-button {
    width: 30%;
    height: 50px;
    text-align: center;
    padding-right: 5px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.full {
    width: 100%;
}

.center {
    text-align: center;
    margin: auto;
}