* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Bebas Neue', cursive;
    background-image: url(../img/yasuo.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-color: black;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 340px;
    border-radius: 15px;
    transition: 1s;
    
    background-color: #ffffff5d;
    filter: brightness(0.5) saturate(0);
}

#container:hover {
    filter: brightness(1) saturate(1);
    background-color: #ffffffb0;
    width: 500px;
    height: 445px;
    border-radius: 10px;
}

#container input {
    border-width: 0;
    padding-left: 5px;
}

table {
    border-collapse: separate;
    border-spacing: 25px;
    width: 80%;
    text-align: center;
    margin-left: 5%;
    font-size: medium;
    border-width: 1px;
    font-weight: 400;
    transition: 1s;
}

#container:hover table {
    margin-left: 2%;
    border-spacing: 35px;
}

#riot-logo-area {
    text-align: center;
    margin: auto;
    margin-top: 30px;
}

#riot-logo {
    width: 30%;
}

#date-input {
    width: 185px;
}

#forms-submit {
    visibility: hidden;
}

#container:hover #forms-submit {
    transition-delay: 0.6s;
    visibility: visible;
}

#register-button {
    width: 20%;
    height: 50px;
    text-align: center;
    padding-right: 5px;
    box-shadow: 0 0 4px black;
    transition: 0.5s;
}

#register-button:active {
    box-shadow: 0 0 0;
}

.center {
    text-align: center;
    margin: auto;
}
